In [1]:
#python part-2

In [2]:
#1. Write a program to accept two numbers from the user and calculate multiplication
n1 = int(input("Enter first number "))
n2 = int(input("Enter second number "))

res = n1 * n2
print(res)

Enter first number 5
Enter second number 4
20

In [4]:
#2. Display three string “Name”, “Is”, “James” as “Name**Is**James”
print( 'Name', 'Is', 'James', sep='**')

Name**Is**James

In [8]:
#3. Convert Decimal number to octal using print() output formatting
n = 8
print('%o' % n)

10

In [10]:
#4.Display float number with 3 decimal places using print()
n = 458.541315
print(n)
print('%.3f' % n)

458.541315
458.541

In [13]:
#5.Accept any three string from one input() call
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringnipun rahul udit
Name1: nipun
Name2: rahul
Name3: udit

In [16]:
m,n,o=input("enter three numbers :").split()
print('name1:',m)
print('name2:',n)
print('name3:',o)

enter three numbers :anant udit nipun
int1: anant
int2: udit
int3: nipun

In [18]:
#6.Format variables using a string.format() method.

#Write a program to use string.format() method to format the following three variables as per the expected output
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450 dollars.

In [22]:
#7.Check file is empty or not
import os

size = os.stat("test2.csv").st_size
if size == 0:
    print('file is empty')
else:
    print("file is not empty")

file is not empty

In [24]:
#8. Read line number 4 from the following file
# read file
with open("test2.csv", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 3
    print(lines[2])

Sudhanshu,30,8,25000

In [27]:
# part -3(LOOPS)

In [28]:
#.1.Print First 10 natural numbers using while loop

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [39]:
#2. Print the Pattern
print("Number Pattern ")

row = 5
for i in range(1, row + 1,1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [32]:
#3. Calculate the sum of all numbers from 1 to a given number
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number 12
Sum is: 78

In [33]:
#4. Display numbers from a list using loop
numbers = [12, 75, 150, 180, 145, 525, 50]

for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    elif item % 5 == 0:
        print(item)

75
150
145

In [34]:
#5.Count the total number of digits in a number
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [41]:
#6.Print the pattern 
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [42]:
#7.Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
new_list = reversed(list1)
for item in new_list:
    print(item)

50
40
30
20
10

In [45]:
#8.Display numbers from -10 to -1 using for loop
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [46]:
#9.Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [47]:
#10.Display Fibonacci series up to 10 terms
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [48]:
#11.Reverse a given integer number
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567